<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RubySkeleton</title>
    <meta name="description" content="RubySkeleton - Ruby Sinatra Base">
    <meta name="author" content="Rudi Strydom">

    <link rel="icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
  </head>
  <body>
    <div class="container">

      <div class="header">
        <a href="/">
          <img src="<%= asset_path 'logo.png' %>" alt="" />
          <h1>RubySkeleton</h1>
        </a>
      </div>

      <ul class="navigation">
        <li><%= link('/', 'Home') %></li>
        <% if @user.nil? %>
          <li><%= link('/login', 'Login') %></li>
          <li><%= link('/register', 'Register') %></li>
        <% else %>
          <li><%= link('/account', 'Account') %></li>
          <% if @user.role == 'admin' %>
                <li><%= link('/admin', 'Admin') %></li>
          <% end %>
          <li><%= link('/logoff', 'Logoff') %></li>
        <% end %>
      </ul>

      <%= yield %>

    </div>
  </body>
  <script async="true" src="<%= javascript_path 'application' %>"></script>
</html>